.navbar{
    display: flex;
    justify-content: space-between;
    background-color:aqua ;
    color: black;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: blue;
}
.navbar li a.hover{
        color: brown;
        text-decoration: dashed;
}